@font-face {
  font-family: 'Super Mario World';
  src: url('fonts/Super-Mario-World.woff2') format('woff2'),
      url('fonts/Super-Mario-World.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: #444;
  background-position: center;
  background-size: cover;
  padding-top: 10px;
}
canvas {
  display: block;
  margin: 0 auto;
  height: 100%;
  background: #fff;
}